<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Workout Tracker</title>
        <style>
            /* CSS goes here */
        </style>
    </head>
    <body>
    <h1>Workout Tracker</h1>

    <!--Saving workouts functionality-->
    <input type="text" id="exercise" placeholder="Exercise name">
    <input type="number" min="0" id="sets" placeholder="Number of sets">
    <input type="number" min="0" id="reps" placeholder="Number or reps">
    <input type="number" min="0" id="weight" placeholder="Weight (lbs)">
    <button onclick="addWorkout()">Add Workout</button>
    <p id="workout-message"></p>
    <button onclick = "getWorkouts()">Load Workouts</button>
    <input type="date" id="delete-date">
    <button onclick="deleteByDate()">Delete by Date</button>
    <button onclick="resetALL()">Reset All Workouts</button>
    <ul id = "workout-list"></ul>

    <!--Personal record functionality-->
    <h2>Find Personal Record</h2>
    <input type = "text" id = "pr-exercise" placeholder="Exercise name">
    <button onclick="getPR()">Find PR</button>
    <p id="pr-result"></p>

    <!--Volume functionality -->
    <h2>Find total volume</h2>
    <input type = "text" id = "volume-exercise" placeholder="Exercise name">
    <button onclick="getVolume()">Find Volume</button>
    <p id="volume-result"></p>
        <script>

            const addWorkout = () => {
            fetch('http://127.0.0.1:5000/workouts', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    exercise: document.getElementById('exercise').value,
                    sets: parseInt(document.getElementById('sets').value),
                    reps: parseInt(document.getElementById('reps').value),
                    weight: parseFloat(document.getElementById('weight').value)
                 })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('workout-message').innerHTML = data.message
                getWorkouts()
            })
            }

            const formatDate = (dateString) => {
                const today = new Date()
                const workoutDate = new Date(dateString)
                if(today.toDateString() === workoutDate.toDateString()){
                    return workoutDate.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})
                } else {
                    return workoutDate.toLocaleDateString([], {month: 'long', day: 'numeric', year: 'numeric'})
                }
            }

            const getWorkouts = () => {
            fetch('http://127.0.0.1:5000/workouts')
            .then(response => response.json())
            .then(data => {
            const list = document.getElementById('workout-list')
            list.innerHTML = ''
            data.forEach(workout => {
                    list.innerHTML += `<li>
                        ${formatDate(workout.date)} | ${workout.exercise} | ${workout.sets} sets | ${workout.reps} reps | ${workout.weight} lbs
                        <button onclick="deleteWorkout(${workout.id})">Delete</button>
                    </li>`
                    })
                })
            }

            const deleteWorkout = (id) => {
                fetch(`http://127.0.0.1:5000/workouts/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('workout-message').innerHTML = data.message
                    getWorkouts()
                })
            }

            const deleteByDate = () => {
                const date = document.getElementById('delete-date').value
                fetch(`http://127.0.0.1:5000/workouts/date/${date}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('workout-message').innerHTML = data.message
                    getWorkouts()
                })
            }

            const resetALL = () => {
                if (confirm(`Are you sure you want to delete all workouts?
                               This action can NOT be undone.`)){
                    fetch('http://127.0.0.1:5000/workouts/all', {
                        method: 'DELETE'
                    })
                    .then(response => response.json())
                    .then(data => {
                    document.getElementById('workout-message').innerHTML = data.message
                    getWorkouts()
                    })
                    }
            }

            const getPR = () => {
                const exercise = document.getElementById('pr-exercise').value
                fetch(`http://127.0.0.1:5000/workouts/pr/${exercise}`)
                .then(response => response.json())
                .then(data => {
                    const result = document.getElementById('pr-result')
                    if (data.message) {
                        result.innerHTML = data.message
                    } else {
                        result.innerHTML = `${formatDate(workout.date)} | ${data.exercise} | ${data.sets} sets | ${data.reps} reps | ${data.weight} lbs`
                    }
                })
            }

            const getVolume = () => {
                const exercise = document.getElementById('volume-exercise').value
                fetch(`http://127.0.0.1:5000/workouts/volume/${exercise}`)
                .then(response => response.json())
                .then(data => {
                    const result = document.getElementById('volume-result')
                    if (data.message){
                        result.innerHTML = data.message
                    } else {
                        result.innerHTML = `Total Volume: ${data} lbs`
                    }
                })
            }

            window.onload = getWorkouts
        </script>
    </body>
</html>